.container {
  background-color: beige;
  padding: 20px;
  border-radius: 16px;
  border: 3px dashed black;
}

tbody button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  font-style: unset;
}

h1 {
  margin-left: 20px;
  color: crimson;
}

h2 {
  text-align: center;
}

.btn-create {
  display: flex;
  justify-content: end;
}

table tbody {
  background-color: #f6f1f1;
}

thead,
tbody,
th,
tr,
td {
  border: 2px solid black;
}

th,
td {
  text-align: center;
}

th {
  padding: 15px;
  background-color: #19a7ce;
}
