<p>bai17-json-object-customer-service works!</p>
<table border="1">
  <tr>
    <td rowspan="5">
      <img
        src="assets/img/{{ customer.Image }}"
        alt=""
        height="240px"
        width="200px"
      />
    </td>
  </tr>
  <tr>
    <td>Id:</td>
    <td>{{ customer.Id }}</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{ customer.Name }}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{ customer.Email }}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>{{ customer.Age }}</td>
  </tr>
</table>
