<p>book-new works!</p>
<p>{{ errMessage }}</p>
<table>
  <tr>
    <td>Book Id:</td>
    <td>
      <input
        type="text"
        class="form-control"
        #name="ngModel"
        name="BookId"
        id="BookId"
        placeholder="Nhập Book Id"
        [(ngModel)]="book.bookId"
      />
    </td>
  </tr>
  <tr>
    <td>Book Name:</td>
    <td>
      <input
        type="text"
        class="form-control"
        #name="ngModel"
        name="BookName"
        id="BookName"
        placeholder="Nhập Book Name"
        [(ngModel)]="book.bookName"
      />
    </td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>
      <input
        type="text"
        class="form-control"
        #name="ngModel"
        name="BookPrice"
        id="BookPrice"
        placeholder="Nhập Price"
        [(ngModel)]="book.price"
      />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button (click)="postBook()">Submit</button>
    </td>
  </tr>
</table>
<table border="1">
  <tr>
    <td>BookId</td>
    <td>BookName</td>
    <td>Price</td>
    <td>Image</td>
  </tr>
  <tbody>
    <tr *ngFor="let b of books">
      <td>{{ b.bookId }}</td>
      <td>{{ b.bookName }}</td>
      <td>{{ b.price }}</td>
      <td>
        <img src="assets/img/{{ b.imageURL }}" width="100px" height="100px" />
      </td>
    </tr>
  </tbody>
</table>
