<p>bai5-binding-class works!</p>

<h1 [className]="success">Nhat Nguyen</h1>
<h1 [className]="success">Nhat Nguyen</h1>
<h1 [className]="success">Nhat Nguyen</h1>
<h1 [className]="success">Nhat Nguyen</h1>
<h1 [className]="success">Nhat Nguyen</h1>

<h2 class="{{ error }}">Nhat Nguyen</h2>
<h2 class="{{ error }}">Nhat Nguyen</h2>
<h2 class="{{ error }}">Nhat Nguyen</h2>
<h2 class="{{ error }}">Nhat Nguyen</h2>
<h2 class="{{ error }}">Nhat Nguyen</h2>

<h3 [className]="complexity">Nhat Nguyen</h3>
<h3 [className]="complexity">Nhat Nguyen</h3>
<h3 [className]="complexity">Nhat Nguyen</h3>
<h3 [className]="complexity">Nhat Nguyen</h3>
<h3 [className]="complexity">Nhat Nguyen</h3>
