<p>bai7-binding-event works!</p>

Name:
<input type="text" #myName />

<button (click)="onSubmit(myName.value)">Submit</button>
<hr />
Nhập số a:
<input type="number" [(ngModel)]="a" />
Nhập số b:
<input type="number" [(ngModel)]="b" />
<hr />
<button (click)="calculate('cong')">Cộng</button>
<button (click)="calculate('tru')">Trừ</button>
<button (click)="calculate('nhan')">Nhân</button>
<button (click)="calculate('chia')">Chia</button>
<button (click)="reset()">Xóa trắng</button>
<hr />
Kết quả:
<input type="number" [value]="result" />
