<p>bai54-baitap-tonghop-restful-api works!</p>
<p>{{ errMessage }}</p>
<br />
<br />
<div class="form-container">
  <h1>QUẢN LÝ THÔNG TIN SÁCH</h1>
  <div class="btn-create">
    <button (click)="createBook()">Create New</button>
  </div>
  <br />
  <table border="1">
    <thead>
      <th>Tên Sách</th>
      <th>Giá Bán</th>
      <th>Mô Tả</th>
      <th>Ảnh Bìa</th>
      <th>Ngày cập nhật</th>
      <th>Số lượng tồn</th>
      <th>Mã NXB</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let b of books">
        <td>{{ b.tenSach }}</td>
        <td>{{ b.giaBan }}</td>
        <td style="width: 600px; text-align: left">{{ b.moTa }}</td>
        <td>
          <img
            src="http://localhost:3000/image/{{ b.anhBia }}"
            alt=""
            height="100px"
            width="100px"
          />
        </td>
        <td style="width: 100px">{{ b.ngayCapNhat }}</td>
        <td>{{ b.soLuongTon }}</td>
        <td>{{ b.maNXB }}</td>
        <td>
          <button (click)="updateBook(b)">Edit</button> |
          <button (click)="viewDetail(b)">Details</button> |
          <button (click)="delete(b.maSach)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
