<table>
  <tr>
    <td>
      <button [routerLink]="'bai 3'">Bai 3</button>
    </td>
    <td>
      <button [routerLink]="'bai 4'">Bai 4</button>
    </td>
    <td>
      <button [routerLink]="'bai 5'">Bai 5</button>
    </td>
    <td>
      <button [routerLink]="'bai 6'">Bai 6</button>
    </td>
    <td>
      <button [routerLink]="'bai 7'">Bai 7</button>
    </td>
    <td>
      <button [routerLink]="'bai 8'">Bai 8</button>
    </td>
    <td>
      <button [routerLink]="'bai 9'">Bai 9</button>
    </td>
    <td>
      <button [routerLink]="'bai 10'">Bai 10</button>
    </td>
    <td>
      <button [routerLink]="'bai 11'">Bai 11</button>
    </td>
    <td>
      <button [routerLink]="'bai 12'">Bai 12</button>
    </td>
    <td>
      <button [routerLink]="'bai 13'">Bai 13</button>
    </td>
    <td>
      <button [routerLink]="'bai 14'">Bai 14</button>
    </td>
    <td>
      <button [routerLink]="'bai 15'">Bai 15</button>
    </td>
    <td>
      <button [routerLink]="'bai 16'">Bai 16</button>
    </td>
    <td>
      <button [routerLink]="'bai 17'">Bai 17</button>
    </td>
    <td>
      <button [routerLink]="'bai 18'">Bai 18</button>
    </td>
    <td>
      <button [routerLink]="'**'">Bai 19</button>
    </td>
    <td>
      <button [routerLink]="'bai 21'">Bai 21</button>
    </td>
    <td>
      <button [routerLink]="'bai 29'">Bai 29</button>
    </td>
    <td>
      <button [routerLink]="'bai 30'">Bai 30</button>
    </td>
    <td>
      <button [routerLink]="'bai 31'">Bai 31</button>
    </td>
    <td>
      <button [routerLink]="'bai 32'">Bai 32</button>
    </td>
    <td>
      <button [routerLink]="'bai 33'">Bai 33</button>
    </td>
    <td>
      <button [routerLink]="'bai 34'">Bai 34</button>
    </td>
    <td>
      <button [routerLink]="'bai 35'">Bai 35</button>
    </td>
    <td>
      <button [routerLink]="'bai 36'">Bai 36</button>
    </td>
    <td>
      <button [routerLink]="'bai 43/books'">Bai 43</button>
    </td>
    <td>
      <button [routerLink]="'books'">List of Books</button>
    </td>
    <td>
      <button [routerLink]="'book-detail'">Book Detail</button>
    </td>
    <td>
      <button [routerLink]="'book-new'">Create new book</button>
    </td>
    <td>
      <button [routerLink]="'book-update'">Update book</button>
    </td>
    <td>
      <button [routerLink]="'book-delete'">Remove book</button>
    </td>
    <td>
      <button [routerLink]="'bai 54'">Bai 54</button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
