<table>
  <tr>
    <td>
      <button [routerLink]="'bai 3'">Bai 3</button>
    </td>
    <td>
      <button [routerLink]="'bai 4'">Bai 4</button>
    </td>
    <td>
      <button [routerLink]="'bai 5'">Bai 5</button>
    </td>
    <td>
      <button [routerLink]="'bai 6'">Bai 6</button>
    </td>
    <td>
      <button [routerLink]="'bai 7'">Bai 7</button>
    </td>
    <td>
      <button [routerLink]="'bai 8'">Bai 8</button>
    </td>
    <td>
      <button [routerLink]="'bai 9'">Bai 9</button>
    </td>
    <td>
      <button [routerLink]="'bai 10'">Bai 10</button>
    </td>
    <td>
      <button [routerLink]="'bai 11'">Bai 11</button>
    </td>
    <td>
      <button [routerLink]="'bai 12'">Bai 12</button>
    </td>
    <td>
      <button [routerLink]="'bai 13'">Bai 13</button>
    </td>
    <td>
      <button [routerLink]="'bai 14'">Bai 14</button>
    </td>
    <td>
      <button [routerLink]="'bai 15'">Bai 15</button>
    </td>
    <td>
      <button [routerLink]="'bai 16'">Bai 16</button>
    </td>
    <td>
      <button [routerLink]="'bai 17'">Bai 17</button>
    </td>
    <td>
      <button [routerLink]="'bai 18'">Bai 18</button>
    </td>
    <td>
      <button [routerLink]="'bai 19'">Bai 19</button>
    </td>
    <td>
      <button [routerLink]="'bai 43/books'">Bai 43</button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
