<table>
  <tr>
    <button [routerLink]="'bai 3'">Bai 3</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 4'">Bai 4</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 5'">Bai 5</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 6'">Bai 6</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 7'">Bai 7</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 8'">Bai 8</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 9'">Bai 9</button>
  </tr>
  <tr>
    <button [routerLink]="'bai 10'">Bai 10</button>
  </tr>
</table>

<router-outlet></router-outlet>
