<p>bai10-binding-two-way-ly works!</p>

<table>
  <thead>
    <th colspan="2">Chuyển đổi Dương lịch thành Âm lịch</th>
  </thead>

  <tbody>
    <tr>
      <select name="" id="">
        <option *ngFor="let d of days" [ngValue]="d">{{ d }}</option>
      </select>
      Ngày
      <select name="" id="">
        <option *ngFor="let m of months" [ngValue]="m">{{ m }}</option>
      </select>
      Tháng
      <select name="" id="">
        <option *ngFor="let y of years" [ngValue]="y">{{ y }}</option>
      </select>
      Năm
      <button>Chuyển đổi</button>
    </tr>
    <tr>
      <th colspan="2">Âm Lịch</th>
    </tr>
    <tr>
      <table>
        <tbody>
          <tr>
            <td>Thứ trong tuần</td>
            <td></td>
          </tr>
          <tr>
            <td>Ngày tháng năm âm</td>
            <td></td>
          </tr>
          <tr>
            <td>Năm</td>
            <td></td>
          </tr>
          <tr>
            <td>Tháng</td>
            <td></td>
          </tr>
          <tr>
            <td>Ngày</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </tr>
  </tbody>
</table>
